<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/css/style.css}">
<title th:text="#{index.title}"></title>
</head>
<body>
<div>
<h1 th:text="#{index.title}"></h1>
<h2 th:text="#{index.h2.receipt}"></h2>
<form method="post" action="/index/index" th:object="${receiptForm}">

<table rules="cols" class="table_for_input">

<tr>
<th th:text="#{index.receipt.table.date}"></th><th th:text="#{index.receipt.table.account}"></th><th th:text="#{index.receipt.table.account}"></th><th th:text="#{index.receipt.table.account}"></th><th th:text="#{index.receipt.table.account}"></th><th th:text="#{index.receipt.table.account}"></th>
</tr>

<!-- 1行目 -->
<tr>
<td rowspan="6" class="v_a_t"><div><select th:field="*{year}">
  <option th:each="item:${yearArr}" th:value="${item}" th:text="${item}"></option>
</select><span th:text="#{index.receipt.table.year}"></span></div>
<div><select th:field="*{month}">
  <option th:each="item:${monthArr}" th:value="${item}" th:text="${item}"></option>
</select><span th:text="#{index.receipt.table.month}"></span></div>
<div><select th:field="*{day}">
  <option th:each="item:${dayArr}" th:value="${item}" th:text="${item}"></option>
</select><span th:text="#{index.receipt.table.day}"></span></div></td>

<td><select th:field="*{aTAArr[0].account}">
  <span th:each="item:${accountMap}"><option th:value="${item.value}" th:text="${item.key}"></option></span>
</select>
<select th:field="*{aTAArr[0].taxRate}">
  <span th:each="item:${taxRateMap}"><option th:value="${item.value}" th:text="${item.key}"></option></span>
</select>
<input type="text" th:field="*{aTAArr[0].amount}"></td>

<td><select name="account1">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate1">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price1"></td>

<td><select name="account2">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate2">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price2"></td>

<td><select name="account3">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate3">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price3"></td>

<td><select name="account4">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate4">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price4"></td>
</tr>

<!-- 2行目 -->
<tr>

<td><select name="account05">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate05">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price05"></td>

<td><select name="account06">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate06">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price06"></td>

<td><select name="account07">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate07">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price07"></td>

<td><select name="account08">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate08">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price08"></td>

<td><select name="account09">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate09">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price09"></td>
</tr>

<!-- 3行目 -->
<tr>

<td><select name="account10">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate10">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price10"></td>

<td><select name="account11">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate11">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price11"></td>

<td><select name="account12">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate12">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price12"></td>

<td><select name="account13">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate13">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price13"></td>

<td><select name="account14">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate14">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price14"></td>
</tr>

<!-- 4行目 -->
<tr>

<td><select name="account15">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate15">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price15"></td>

<td><select name="account16">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate16">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price16"></td>

<td><select name="account17">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate17">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price17"></td>

<td><select name="account18">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate18">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price18"></td>

<td><select name="account19">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate19">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price19"></td>
</tr>

<!-- 5行目 -->
<tr>

<td><select name="account20">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate20">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price20"></td>

<td><select name="account21">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate21">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price21"></td>

<td><select name="account22">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate22">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price22"></td>

<td><select name="account23">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate23">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price23"></td>

<td><select name="account24">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate24">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price24"></td>
</tr>

<!-- 6行目 -->
<tr>

<td><select name="account25">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate25">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price25"></td>

<td><select name="account26">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate26">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price26"></td>

<td><select name="account27">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate27">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price27"></td>

<td><select name="account28">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate28">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price28"></td>

<td><select name="account29">
  <option value=""></option>
  <option value="shokuhi">食費</option>
  <option value="shomohinhi">消耗品費</option>
  <option value="suidokonetsuhi">水道光熱費</option>
</select>
<select name="taxRate29">
  <option value=""></option>
  <option value="8">8</option>
  <option value="10">10</option>
</select>
<input type="text" name="price29"></td>
</tr>

</table>

<input type="submit" th.value="#{index.receipt.submit.create}">

</form>
</div>
</body>
</html>
