<!-- TODO:tabindexの位置移動 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<!-- <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"> -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<script th:src="@{/js/common.js}" defer></script>
<script th:inline="javascript">
  const amountSum = /*[[${amountSum}]]*/"amountSum";
  if (amountSum) {
    const yesOrNo = window.confirm(amountSum);

    if (yesOrNo) {
      window.document.receiptFrm.submit();
    }
  }
</script>
<title th:text="#{index.title}"></title>
</head>
<body>
<div>
<h1 th:text="#{index.title}"></h1>
<h2 th:text="#{index.h2.receipt}"></h2>
<form name="receiptFrm" method="post" action="/index/index" th:object="${receiptForm}">

<div th:errors="*{taxAmount}"></div>
<div th:errors="*{aTAArr[0].amount}"></div>

<table rules="cols" class="table_for_input">

<tr>
<th th:text="#{index.receipt.table.date}"></th>
<th colspan="2" th:text="#{index.receipt.table.accounts_etc}"></th>
<th colspan="2" th:text="#{index.receipt.table.accounts_etc}"></th>
<th colspan="2" th:text="#{index.receipt.table.accounts_etc}"></th>
<th colspan="2" th:text="#{index.receipt.table.accounts_etc}"></th>
<th th:text="#{index.receipt.table.tax_amount}"></th>
</tr>

<!-- 1行目 -->
<tr>
<td rowspan="8" class="date_etc"><div><select th:field="*{year}" tabindex="10">
  <option th:each="item:${yearArr}" th:value="${item}" th:text="${item}"></option>
</select><span th:text="#{index.receipt.table.year}"></span></div>
<div><select th:field="*{month}" tabindex="20">
  <option th:each="item:${monthArr}" th:value="${item}" th:text="${item}"></option>
</select><span th:text="#{index.receipt.table.month}"></span></div>
<div><select th:field="*{day}" tabindex="30">
  <option th:each="item:${dayArr}" th:value="${item}" th:text="${item}"></option>
</select><span th:text="#{index.receipt.table.day}"></span></div></td>

<td>01</td>
<td><select th:field="*{aTAArr[0].account}" tabindex="110">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[0].taxRate}" tabindex="120">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" tabindex="130" maxlength="7" oninput="this.value = disableNonNumeric(this.value)" th:field="*{aTAArr[0].amount}" th:errorclass="error_for_text"></td>

<td>02</td>
<td><select th:field="*{aTAArr[1].account}" tabindex="210">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[1].taxRate}" tabindex="220">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" tabindex="230" maxlength="7" oninput="this.value = disableNonNumeric(this.value)" th:field="*{aTAArr[1].amount}" th:errorclass="error_for_text"></td>

<td>03</td>
<td><select th:field="*{aTAArr[2].account}" tabindex="310">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[2].taxRate}" tabindex="320">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" tabindex="330" maxlength="7" oninput="this.value = disableNonNumeric(this.value)" th:field="*{aTAArr[2].amount}" th:errorclass="error_for_text"></td>

<td>04</td>
<td><select th:field="*{aTAArr[3].account}" tabindex="410">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[3].taxRate}" tabindex="420">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" tabindex="430" maxlength="7" oninput="this.value = disableNonNumeric(this.value)" th:field="*{aTAArr[3].amount}" th:errorclass="error_for_text"></td>

<td rowspan="8" class="date_etc"><input type="text" tabindex="6010" oninput="this.value = disableNonNumeric(this.value)" th:field="*{taxAmount}" th:errorclass="error_for_text"></td>
</tr>

<!-- 2行目 -->
<tr>
<td>05</td>
<td><select th:field="*{aTAArr[4].account}" tabindex="510">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[4].taxRate}" tabindex="520">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[4].amount}" tabindex="530"></td>

<td>06</td>
<td><select th:field="*{aTAArr[5].account}" tabindex="610">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[5].taxRate}" tabindex="620">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[5].amount}" tabindex="630"></td>

<td>07</td>
<td><select th:field="*{aTAArr[6].account}" tabindex="710">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[6].taxRate}" tabindex="720">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[6].amount}" tabindex="730"></td>

<td>08</td>
<td><select th:field="*{aTAArr[7].account}" tabindex="810">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[7].taxRate}" tabindex="820">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[7].amount}" tabindex="830"></td>
</tr>

<!-- 3行目 -->
<tr>
<td>09</td>
<td><select th:field="*{aTAArr[8].account}" tabindex="910">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[8].taxRate}" tabindex="920">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[8].amount}" tabindex="930"></td>

<td>10</td>
<td><select th:field="*{aTAArr[9].account}" tabindex="1010">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[9].taxRate}" tabindex="1020">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[9].amount}" tabindex="1030"></td>

<td>11</td>
<td><select th:field="*{aTAArr[10].account}" tabindex="1110">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[10].taxRate}" tabindex="1120">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[10].amount}" tabindex="1130"></td>

<td>12</td>
<td><select th:field="*{aTAArr[11].account}" tabindex="1210">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[11].taxRate}" tabindex="1220">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[11].amount}" tabindex="1230"></td>
</tr>

<!-- 4行目 -->
<tr>
<td>13</td>
<td><select th:field="*{aTAArr[12].account}" tabindex="1310">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[12].taxRate}" tabindex="1320">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[12].amount}" tabindex="1330"></td>

<td>14</td>
<td><select th:field="*{aTAArr[13].account}" tabindex="1410">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[13].taxRate}" tabindex="1420">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[13].amount}" tabindex="1430"></td>

<td>15</td>
<td><select th:field="*{aTAArr[14].account}" tabindex="1510">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[14].taxRate}" tabindex="1520">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[14].amount}" tabindex="1530"></td>

<td>16</td>
<td><select th:field="*{aTAArr[15].account}" tabindex="1610">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[15].taxRate}" tabindex="1620">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[15].amount}" tabindex="1630"></td>
</tr>

<!-- 5行目 -->
<tr>
<td>17</td>
<td><select th:field="*{aTAArr[16].account}" tabindex="1710">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[16].taxRate}" tabindex="1720">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[16].amount}" tabindex="1730"></td>

<td>18</td>
<td><select th:field="*{aTAArr[17].account}" tabindex="1810">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[17].taxRate}" tabindex="1820">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[17].amount}" tabindex="1830"></td>

<td>19</td>
<td><select th:field="*{aTAArr[18].account}" tabindex="1910">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[18].taxRate}" tabindex="1920">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[18].amount}" tabindex="1930"></td>

<td>20</td>
<td><select th:field="*{aTAArr[19].account}" tabindex="2010">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[19].taxRate}" tabindex="2020">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[19].amount}" tabindex="2030"></td>
</tr>

<!-- 6行目 -->
<tr>
<td>21</td>
<td><select th:field="*{aTAArr[20].account}" tabindex="2110">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[20].taxRate}" tabindex="2120">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[20].amount}" tabindex="2130"></td>

<td>22</td>
<td><select th:field="*{aTAArr[21].account}" tabindex="2210">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[21].taxRate}" tabindex="2220">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[21].amount}" tabindex="2230"></td>

<td>23</td>
<td><select th:field="*{aTAArr[22].account}" tabindex="2310">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[22].taxRate}" tabindex="2320">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[22].amount}" tabindex="2330"></td>

<td>24</td>
<td><select th:field="*{aTAArr[23].account}" tabindex="2410">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[23].taxRate}" tabindex="2420">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[23].amount}" tabindex="2430"></td>
</tr>

<!-- 7行目 -->
<tr>
<td>25</td>
<td><select th:field="*{aTAArr[24].account}" tabindex="2510">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[24].taxRate}" tabindex="2520">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[24].amount}" tabindex="2530"></td>

<td>26</td>
<td><select th:field="*{aTAArr[25].account}" tabindex="2610">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[25].taxRate}" tabindex="2620">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[25].amount}" tabindex="2630"></td>

<td>27</td>
<td><select th:field="*{aTAArr[26].account}" tabindex="2710">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[26].taxRate}" tabindex="2720">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[26].amount}" tabindex="2730"></td>

<td>28</td>
<td><select th:field="*{aTAArr[27].account}" tabindex="2810">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[27].taxRate}" tabindex="2820">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[27].amount}" tabindex="2830"></td>
</tr>

<!-- 8行目 -->
<tr>
<td>29</td>
<td><select th:field="*{aTAArr[28].account}" tabindex="2910">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[28].taxRate}" tabindex="2920">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[28].amount}" tabindex="2930"></td>

<td>30</td>
<td><select th:field="*{aTAArr[29].account}" tabindex="3010">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[29].taxRate}" tabindex="3020">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[29].amount}" tabindex="3030"></td>

<td>31</td>
<td><select th:field="*{aTAArr[30].account}" tabindex="3110">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[30].taxRate}" tabindex="3120">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[30].amount}" tabindex="3130"></td>

<td>32</td>
<td><select th:field="*{aTAArr[31].account}" tabindex="3210">
  <option th:each="item:${accountMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<select th:field="*{aTAArr[31].taxRate}" tabindex="3220">
  <option th:each="item:${taxRateMap}" th:value="${item.value}" th:text="${item.key}"></option>
</select>
<input type="text" th:field="*{aTAArr[31].amount}" tabindex="3230"></td>
</tr>

</table>

<input type="submit" name="create" th:value="#{index.receipt.submit.create}" tabindex="7010">

</form>
</div>
</body>
</html>
