/*----------------------------------------
- レシート登録システム
- From:20230502
----------------------------------------*/

.t_a_r {
    text-align: right;
}

/*
.v_a_t {
    vertical-align: top;
}
*/

p.err {
    color: #f00;
    line-height: 1.2em;
    margin: 5px 0;
}

:focus {
    outline-style: solid;
}

* {
    font-weight: normal;
    font-size: medium;
    line-height: 1.8em;
    padding: 0;
    margin: 0;
}

body {
    background-color: /*#f1f1f1*/#EFEFEF;
}

body > div {
    margin-left: 10px;
}

form {
    width:fit-content;
}

table {
    border-width: 0;
    border-collapse: collapse;
}

th {
    font-weight: normal;
}

input[type="submit"] {
    /* display: block; */
    padding: 0 10px;
    /* margin-top: 10px; */
    margin-left: auto;
}

.tbl_for_entry,
.tbl_for_registered {
    border-color: /*#275866 #306E80*/ #35798C /*#3A8499*/;
}

.tbl_for_entry th,
.tbl_for_registered th {
    color: #FFF;
    background-color: #4BACC6;
    padding-top: 2px;
}

.tbl_for_registered th {
    padding-right: 10px;
    padding-left: 10px;
}
.tbl_for_entry td,
.tbl_for_registered td {
    white-space: nowrap;
    background-color: #FFF;
    padding: 2px 4px;
}

.tbl_for_registered td {
    text-align: right;
}

.tbl_for_entry tr:nth-child(odd) td,
.tbl_for_registered tr:nth-child(odd) td {
    background-color: #D0E3EA;
}

.tbl_for_entry td.left_end,
.tbl_for_entry td.right_end {
    vertical-align: top;
    background-color: #FFF;
}

.tbl_for_entry td.right_end {
    text-align: right;
}

.tbl_for_entry input[type="text"] {
    text-align: right;
    width: 70px;
    height: 17px;
    padding: 1px;
}

.tbl_for_entry .date,
.tbl_for_entry .account,
.tbl_for_entry .tax_rate,
.tbl_for_entry .amount,
.tbl_for_entry .tax_amount {
    border-width:1px;
    border-style: solid;
}

.tbl_for_entry .date,
.tbl_for_entry .tax_rate {
    width: 38px;
}

.tbl_for_entry .account {
    width: 100px;
}

.tbl_for_entry .err {
    background-color: #ffb3da;
    /*border-width: 1px;*/
}

.tbl_for_entry + div {
    text-align: right;
    margin-top: 10px;
}


